<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
     <session-factory>

          <!-- JDBC -->

          <property name="hibernate.connection.driver_class"> org.postgresql.Driver </property>

          <property name="hibernate.connection.url">
               jdbc:postgresql://db.tezhhaqsrgnpfsayguwd.supabase.co:5432/postgres?sslmode=require </property>

          <property name="hibernate.connection.username"> postgres </property>

          <property name="hibernate.connection.password">
            <![CDATA[4b%KA.#b3h)D%mt]]>
        </property>

          <!-- HikariCP -->

          <property name="hibernate.connection.provider_class">
               org.hibernate.hikaricp.internal.HikariCPConnectionProvider </property>

          <property name="hibernate.hikari.minimumIdle">2</property>
          <property name="hibernate.hikari.maximumPoolSize">10</property>
          <property name="hibernate.hikari.connectionTimeout">30000</property>
          <property name="hibernate.hikari.idleTimeout">120000</property>
          <property name="hibernate.hikari.maxLifetime">180000</property>
          <property name="hibernate.hikari.keepaliveTime">60000</property>
          <property name="hibernate.hikari.connectionTestQuery">SELECT 1</property>
          <property name="hibernate.hikari.poolName">NavbharatCTS-Pool</property>

          <!-- Hibernate -->

          <property name="hibernate.dialect"> org.hibernate.dialect.PostgreSQLDialect </property>

          <property name="hibernate.hbm2ddl.auto">none</property>

          <property name="hibernate.show_sql">true</property>
          <property name="hibernate.format_sql">false</property>

          <property name="hibernate.jdbc.batch_size">50</property>
          <property name="hibernate.order_inserts">true</property>

          <!-- UAM -->

          <mapping class="com.cts.uam.model.User" />
          <mapping class="com.cts.uam.model.Role" />
          <mapping class="com.cts.uam.model.Permission" />
          <mapping class="com.cts.uam.model.AuditLog" />

          <!-- CTS -->

          <mapping class="com.cts.outward.entity.BatchEntity" />
          <mapping class="com.cts.outward.entity.ChequeEntity" />

     </session-factory>
</hibernate-configuration>